<span style='color: Rgb(255,160,40); font-size: 48px'> Python with BQNT<img src='../logo.png' height='48' width='200' align='right' style="padding: 20px"> </span> <br>
<span style='color: grey; font-size: 13px'> Information in this tutorial has been collected from various sources and condensed into a single notebook. 
 </span>

** Retrieve data with Bloomberg Query Language **

*A quick demo with BQL Editor*

*Link for BQL Basics Webinar Video:*

https://bloomberg.cwebcast.com/ses/jXAdkrDNj-lPJiwE5vbzIA~~?ek=bbcbe277-1dd1-48cd-91a9-f375453f4c05

```python

import bql
bq = bql.Service()

```

Two essential lines to be ready to get the data from Bloomberg

In [11]:
import bql
bq = bql.Service()

Query string like how we use in Excel

In [18]:
q = """

get(PX_LAST)
for(MEMBERS('INDU Index'))

"""

res = bq.execute(q)
df = res[0].df()
df.head()

                    DATE CURRENCY     PX_LAST
ID
AXP UN Equity 2020-04-01      USD   80.300003
VZ UN Equity  2020-04-01      USD   53.334999
BA UN Equity  2020-04-01      USD  141.479996
CAT UN Equity 2020-04-01      USD  114.370003
JPM UN Equity 2020-04-01      USD   85.855003

In [19]:
bql_item = bq.data.px_last()

bql_universe = bq.univ.members('CAC Index')

bql_request = bql.Request(bql_universe, bql_item)
bql_response = bq.execute(bql_request)

df = bql_response[0].df()
df.head()

                    DATE CURRENCY   PX_LAST()
ID
OR FP Equity  2020-04-01      EUR  233.000000
DG FP Equity  2020-04-01      EUR   68.300003
URW NA Equity 2020-04-01      EUR   49.169998
FP FP Equity  2020-04-01      EUR   35.880001
AI FP Equity  2020-04-01      EUR  113.449997

In [2]:
import pandas as pd

df = pd.DataFrame.from_csv("stock_data.csv")

** Retrieve data **

*Try this:* 

Why can we not use . notation for '1YR TR'?

```python
df.Close
df['1YR TR']
```

In [36]:
# Type code here

*Try this:* 

Note each column is a Series so everything we learnt previously can be used in DataFrame.

```python
type(df.Close)
```

In [3]:
# Type code here
df['Close']

Ticker
AIR FP Equity         73.910
SAF FP Equity         81.890
BA UN Equity         201.810
UTX UN Equity        122.790
6902 JT Equity      4793.000
FR FP Equity          59.510
ML FP Equity         117.900
7201 JT Equity      1139.000
7203 JT Equity      6107.000
7267 JT Equity      3094.000
RNO FP Equity         79.840
UG FP Equity          17.895
8306 JT Equity       761.200
8316 JT Equity      4410.000
8411 JT Equity       207.600
ACA FP Equity         14.645
BNP FP Equity         64.470
GLE FP Equity         49.000
JPM UN Equity         93.680
RI FP Equity         117.000
KO UN Equity          44.820
SGO FP Equity         47.655
GS UN Equity         228.040
4063 JT Equity      9875.000
AI FP Equity         108.650
SOLB BB Equity       120.450
DD UN Equity          81.220
NOKIA FP Equity        5.467
CSCO UW Equity        31.110
DG FP Equity          75.340
                     ...
ENGI FP Equity        13.285
VIE FP Equity         18.580
FP FP Equity          43.325
CVX UN Equity        104.620
XOM UN Equity         80.850
OR FP Equity         181.500
4502 JT Equity      5668.000
4503 JT Equity      1375.000
SAN FP Equity         84.220
JNJ UN Equity        133.640
MRK UN Equity         64.160
PFE UN Equity         33.640
8801 JT Equity      2638.500
8802 JT Equity      2058.000
9020 JT Equity     10740.000
9022 JT Equity     18005.000
INTC UW Equity        34.340
MSFT UW Equity        69.080
HD UN Equity         152.690
7751 JT Equity      3784.000
AAPL UW Equity       144.090
KER FP Equity        303.500
MC FP Equity         221.800
NKE UN Equity         57.560
2914 JT Equity      3868.000
8031 JT Equity      1609.000
8058 JT Equity      2383.000
9433 JT Equity      2988.000
9437 JT Equity      2644.000
9984 JT Equity      8960.000
Name: Close, dtype: float64

*Try this:* 
    
Different ways of selecting.

```python
df[['Close', 'Name']]
df.loc['AAPL UW Equity']
df.iloc[10]
df.loc[['AAPL UW Equity', '7751 JT Equity']]
```

** Filtering **

<span style="color:darkorange; font-size:1em"> Quick practice </span>

Output all the stocks that grew more than 10% over 5YR but with a negative TR for the past year.

In [80]:
# Type Code here

In [4]:
import pandas as pd
df = pd.DataFrame.from_csv("stock_data.csv")
df[(df['5YR TR'] > 10) & (df['1YR TR'] < 0) ]

,Currency,Name,Industry,Close,1YR TR,5YR TR
Ticker,,,,,,
EI FP Equity,EUR,ESSILOR INTL,Health Care Equipment & Suppli,113.30,-2.187401,10.19808
4503 JT Equity,JPY,ASTELLAS PHARMA,Pharmaceuticals,1375.00,-11.724400,17.01027
PFE UN Equity,USD,PFIZER INC,Pharmaceuticals,33.64,-2.546640,12.21446
2914 JT Equity,JPY,JAPAN TOBACCO,Tobacco,3868.00,-6.600924,13.99832
9433 JT Equity,JPY,KDDI CORP,Wireless Telecommunication Ser,2988.00,-5.899152,30.89987
9437 JT Equity,JPY,NTT DOCOMO INC,Wireless Telecommunication Ser,2644.00,-5.470530,18.94273

<!--
negative_5yr = df["5YR TR"] >= 10
ten_plus_1yr = df["1YR TR"] < 0
df[negative_5yr & ten_plus_1yr]
-->

*Try this:*

```python
df[df.Industry.isin(["Tobacco", "Pharmaceuticals"])]
df[df.Name.str.contains("JAPAN")]
```

In [5]:
# Type code here
df[df.Name.str.contains("JAPAN")]

,Currency,Name,Industry,Close,1YR TR,5YR TR
Ticker,,,,,,
9020 JT Equity,JPY,EAST JAPAN RAIL,Road & Rail,10740.0,13.172650,18.14866
9022 JT Equity,JPY,CENTRAL JAPAN RL,Road & Rail,18005.0,0.279088,24.37049
2914 JT Equity,JPY,JAPAN TOBACCO,Tobacco,3868.0,-6.600924,13.99832

*Try this:* 

What is the difference and which one is faster?

```python
df.loc[df.Name.str.contains("JAPAN"), ["Name", "5YR TR"]]
df[df.Name.str.contains("JAPAN")][["Name", "5YR TR"]]
```

In [6]:
%%timeit
df.loc[df.Name.str.contains("JAPAN"), ["Name", "5YR TR"]]

1000 loops, best of 3: 1.13 ms per loop

In [7]:
%%timeit
df[df.Name.str.contains("JAPAN")][["Name", "5YR TR"]]

1000 loops, best of 3: 858 µs per loop

** Sort and group **

<span style="color:darkorange; font-size:1em"> Quick practice </span>

Find and use the sort function to show the Top 10 with the biggest 5YR Return.

In [38]:
# Type code here

<span style="color:darkorange; font-size:1em"> Quick practice </span>

How to sort on both Industry and 1YR TR?

Note the na_position parameter, which is useful when NaN presents.

In [39]:
# Type code here